@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,700&display=swap');

* {
    box-sizing: border-box;
    font-family: Turret Road, cursive;
}

body {
    margin: 0 auto;
}

.main-container {
    margin: 0 auto;
    /* grid-template-columns: "25vw 25vw 25vw 25vw";
    grid-template-rows: "25vh 25vh 25vh 25vh";
    grid-template-areas: "left right"
                         "left right"
                         "left foot"; */
}

.left-pane-container {
  background-image: url('./../../image/login-page-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 8em;
}

.left-pane-heading {
  margin: 0 auto;
  margin-bottom: 1em;
}

.left-pane-subheading {
  margin: 0 auto;
}

.right-pane-container {
  margin-top: 2em;
}

footer {
  text-align: center;
  padding: 1.5em;
  background-color: #000;
  margin: 4em auto;
}

.footer-text {
  margin: 0 auto;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

/* .left-pane-container {
  grid-area: left;
}

.right-pane-container {
  grid-area: right;
}

.foot-container {
  grid-area: foot;
} */

/* .login-widget {
    position: absolute;
    top: 20%;
    left: 37%;
} */

/* mobile design only */
@media only screen and (min-width: 400px) and (max-width: 800px) {

}

/* tablet design only */
@media only screen and (min-width: 801px) and (max-width: 1200px) {

}

/* desktop design only */
@media only screen and (min-width: 1201px) {

}
