#menu-btn-menulist {
  /* height: 100%; */
  position: absolute;
  left: -200px;
  /* top: 115px; */
  padding: 2em;
  border-top-right-radius: 15px;
  background-color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  z-index: 2;
  opacity: .8;
}

#menuBTN:hover {
  cursor: pointer;
}

#menu-btn-menulist li{
  display: list-item;
  margin: 1.3em 0;
}

#menu-btn-menulist li a{
  color: #000;
}

#menu-btn-menulist li a:hover{
  color: #1ed64f;
  opacity: .8;
  font-size: 1.2em;
}

.close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
