@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,700&display=swap');


* {
    box-sizing: border-box;
    font-family: Turret Road, cursive;
}

body {
    margin: 0 auto;
}

.restaurant-menu-container {
  margin: 0 auto;
  /* text-align: center; */
  /* background-image: url('./../../image/review-section-bg.jpg'); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em;
}

.menu-item {
    background-color: RGBA(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0 1 24%;
    height: 70%;
    width: 40%;
    margin: 0px auto 4em;
    border: 2px solid rgb(197, 201, 209);
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0) 0px 0px 15px;
    padding: 1em;
    overflow: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.comment-card {
    background-color: RGBA(255, 255, 255, 0.8);
    width: 80%;
    margin: 0px auto 4em;
    border: 2px solid rgb(197, 201, 209);
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0) 0px 0px 15px;
    padding: 1em;
    overflow: auto;
}

#leave-comment {
  position: absolute;
  top: 150px;
  right: 90px;
}

#menuItem1 {
    margin: 3px 1.5px 3px 1.5px;
    width: 50%;
    height: 50%;
    clear: both;
}

#menuItem2 {
    margin: 3px 1.5px 3px 1.5px;
    width: 50%;
    height: 50%;
    clear: both;
}

#menuItem3 {
    margin: 3px 1.5px 3px 1.5px;
    width: 50%;
    height: 50%;
    clear: both;
}

#menuItem4 {
    margin: 3px 1.5px 3px 1.5px;
    width: 50%;
    height: 50%;
    clear: both;
}

#menuItem5 {
    margin: 3px 1.5px 3px 1.5px;
    width: 50%;
    height: 50%;
    clear: both;
}

#menuItem1 {
    margin: 3px 1.5px 3px 1.5px;
    width: 50%;
    height: 50%;
    clear: both;
}
