@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,700&display=swap');


* {
    box-sizing: border-box;
    font-family: Turret Road, cursive;
}

body {
    margin: 0 auto;
}

.restaurants-container {
  margin: 0 auto;
  /* text-align: center; */
  background-image: url('./../../image/review-section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em;
}

.restaurant-card {
    background-color: RGBA(255, 255, 255, 0.8);
    width: 80%;
    margin: 0px auto 4em;
    border: 2px solid rgb(197, 201, 209);
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0) 0px 0px 15px;
    padding: 1em;
    overflow: auto;
}

.restaurant-card:hover {
  transform: scale(1.1);
  opacity: .7;
  background-color: #d7bbed;
}

.restaurant-text {
    margin: 1.5em 0px;
    font-weight: bold;
    width: 85%;
}

#togo_sushi {
    margin: 0px 3px 0px 3px;
    width: 25%;
    height: 25%;
    float: right;
    clear: both;
}

#daeji {
  margin: 0px 3px 2px 3px;
  width: 25%;
  height: 25%;
  float: right;
  clear: both;
}

#jimoco {
  margin: 0px 3px 2px 0px;
  width: 25%;
  height: 25%;
  float: right;
  clear: both;
}

#bb {
  margin: 0px 3px 2px 0px;
  width: 25%;
  height: 5%;
  float: right;
  clear: both;
}

#kimbabcheonguk {
  margin: 0px 3px 2px 0px;
  width: 25%;
  height: 5%;
  float: right;
  clear: both;
}

#restaurantTXT {
  color: #FFF;
  font-weight: bold;
  font-size: 2em;
}

/* .restaurant-misc {
    display: flex;
    justify-content: space-between;
  }

.user-comment-info {
    display: inline-block;
}

.user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#user-id {
  display: inline-block;
  vertical-align: top;
  padding-top: 1em;
  padding-left: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

.comment-date {
    display: inline-block;
    padding-top: 1em;
    color: rgb(199, 204, 209);
} */
