
.review-section-container {
  margin: 0 auto;
  text-align: center;
  background-image: url('./../../image/review-section-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 0;
}

.review-section {
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
  padding: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px solid royalblue;
  border-radius: 15px;
}

.review-section-container h3 {
  margin-top: 0;
}

.review-section-container h4 {
  margin-bottom: 0;
}

.review-form {
  margin-top: 2em;
}

fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
}

.noodle-field {
  margin-bottom: 1em;
}

.steak-field {
  margin-bottom: 1em;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.review-section-container li {
  display: inline-block;
}

input[type=radio] {
  display: none;
}

#ramen-img, #steak-img {
  width: 30px;
  height: 30px;
}

textarea, input[type=text] {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
